<a href="https://colab.research.google.com/github/jihye-jeon2/python/blob/main/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1.name = "variable' 에러
2. numer = 41 정상동작
3. int = 3 에러
4."name" = "variable" //문자열을 문자열에 대입함
5.is_book = true 에러  //bool형 True
6.for = "repeat" 에러
7.data_types = ["",1,2] 에러 -> 정상동작 리스트는 서로다른 자료형의 변수도 담을수있다.
8. 4 things = [3.141,2.718,41,1729] 정상동작  ->에러 변수이름을 숫자로 시작할 수 없으므로 에러가 발생함